<div class="footer">
  <p>&copy; {{ site.time | date: '%Y' }}, <a href="/about">Raziur Rahman</a>. All rights reserved.</p>
  <div id="social">
    <a href="https://twitter.com/instrumaniak" target="_blank">
      <i class="fa  fa-twitter"></i>
    </a>
    <a href="https://github.com/instrumaniak" target="_blank">
      <i class="fa  fa-github-alt"></i>
    </a>
    <a href="https://codepen.io/instrumaniak/" target="_blank">
      <i class="fa  fa-codepen"></i>
    </a>
    <a href="https://www.deviantart.com/instrumaniak" target="_blank">
      <i class="fa  fa-deviantart"></i>
    </a>
    <a href="https://www.linkedin.com/in/raziur/" target="_blank">
      <i class="fa  fa-linkedin"></i>
    </a>
    <a href="/feed.xml" target="_blank">
      <i class="fa fa-rss"></i>
    </a>
  </div>
</div>
